<div class="cat-profile card">
  <div class="card-content">

    {{#if isEditing}}
    <p class="control">
      {{input value=cat.name class="input is-medium"}}
    </p>
    {{else}}
    <h2 class="title is-4">
    {{#link-to 'cat' cat}}
    {{cat.name}}
    {{/link-to}}
    </h2>
    <div>owned by<h3 class="owner-name">{{cat.ownerName}}</h3></div>
    {{/if}}
    <p class="control is-grouped">
      {{#if isEditing}}
      <button {{action 'save' cat}} class="button is-primary update">Update</button>
      {{else}}
      <button {{action 'edit' cat}} class="button is-info is-outlined edit">Edit</button>
      {{/if}}
      <button class='delete button is-danger' {{action 'delete' cat}}>Remove {{cat.name}}</button>
    </p>
  </div>
  <div class="card-image">
    <figure class="image is-4by3">
      <img src={{cat.image}} style="max-height:250px">
    </figure>
  </div>
  {{#if hasFriends}}
  <h3> Friends: </h3>
  {{#each cat.catFriends as |friend|}}
  I am friends with: {{friend.name}}
  {{/each}}
  {{/if}}
</div>
