{{#if isEditing}}
  <div>
  Name:  {{input value=dog.name}}
  </div>
  <div>
  Likes Cats:  {{input checked=dog.likesCats type='checkbox'}}
  </div>
  <div>
  Plays Fetch:  {{input checked=dog.playsFetch type='checkbox'}}
  </div>
  <button {{action 'save' dog}}>Save</button>
{{else}}
  {{#link-to 'dog' dog}}
    <h2>{{dog.name}}</h2>
  {{/link-to}}
  {{#if dog.playsFetch}}
    <div><h3>I play fetch</h3></div>
   {{/if}}
  {{#if dog.likesCats}}
    <div><h3>I like cats</h3></div>
   {{/if}}
  <button {{action 'edit' dog}}>Edit</button>
{{/if}}
<button {{action 'delete' dog}}>Remove {{dog.name}}</button>
<img src={{dog.image}} style="height:250px">
