<div class="dog-profile card">
  <div class="card-content">
    {{#if isEditing}}
    <p class="control">
      Name:  {{input value=dog.name class="input is-menium"}}
    </p>
    <p class="control">
      <label class="checkbox">Likes Cats:  {{input checked=dog.likesCats type='checkbox' }}</label>
    </p>
    <p class="control">
      <label class="checkbox">Plays Fetch:  {{input checked=dog.playsFetch type='checkbox'}}</label>
    </p>
    {{else}}
    <h2 class='name title is-4'>
      {{#link-to 'dog' dog}}
      {{dog.name}}
      {{/link-to}}
    </h2>
    {{#if dog.playsFetch}}
    <div class='playsFetch'><h3>I play fetch</h3></div>
    {{/if}}
    {{#if dog.likesCats}}
    <div class='likesCats'><h3>I like cats</h3></div>
    {{/if}}
    {{/if}}
    <p class="control is-grouped">
      {{#if isEditing}}
      <button {{action 'save' dog}} class="button is-primary update">Save</button>
      {{else}}
      <button {{action 'edit' edit}} class="button is-info is-outlined edit">Edit</button>
      {{/if}}
      <button class='delete button is-danger' {{action 'delete' dog}}>Remove {{dog.name}}</button>
    </p>
  </div>
  <div class="card-image">
    <figure class="image is-4by3">
      <img src={{dog.image}} style="max-height:250px">
    </figure>
  </div>
</div>
