<div class="hello"> Hello I am CAT</div>
<div style="display:inline-block" class="content">
  <h2 class='name title is-2'>{{model.name}}</h2>
  <img src={{model.image}} style="height:250px" class="image">
  <p>
    Owned by: <h2 class='owner title is-5'>{{model.ownerName}}</h2>
  </p>
  <p>
    Age: <h2 class='age title is-5'>{{model.realAge}}</h2>
  </p>
  <div class='friends'>
    <h3> Friends: </h3>
    <ul>
  {{#each model.catFriends as |friend|}}
  <li>{{friend.name}}</li>
  {{else}}
  <li>No Friends :(</li>
  {{/each}}
    </ul>
  </div>
</div>
